<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<form class="" action="/users/search" method="post">
  <label for="search-user">Search User</label>
  <input id="search-user" type="text" name="searchUser" placeholder="e.g. imguss">

  <button>Search User</button>
</form>
