<form action="repos" method="post">
  <label for="userInput">Github Username</label>
  <input id="userInput" type="text" name="gitUser" placeholder="e.g. imguss...">
  
  <button>Search Repos</button>
</form>
